body {
  background: url("133964391097268054.jpg") no-repeat center center fixed;
  background-size: cover;   /* makes the image cover the whole screen */
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.weather-container {
  text-align: center;
  background: #111010;
  color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgb(173, 171, 171);
  max-width: 350px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #1976D2;
}

#weatherResult {
  margin-top: 20px;
  font-size: 16px;
}
